@page "/"
@namespace GardenMarket.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title  -->
    <title>Garden Web Market</title>

    <!-- Favicon  -->
    <link rel="icon" href="">

    <!-- Core Style CSS -->
    <link href="~/css/core-style.css" rel="stylesheet" />
    <base href="~/" />


</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
    <!-- jQuery -->
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="~/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
</body>
</html>
