
@{
    ViewData["Title"] = "AboutUs";
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Кои сме ние?</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="regular-page-content-wrapper section-padding-80">
                <div class="regular-page-text">
                    <h4> 1. За нас</h4>
                    <p>

                        1. Достъпът до уеб-страницата се контролира стриктно единствено и само от, която си запазва правото периодично да променя, замества, прекратява или премахва без предизвестие всяка информация или услуга, предоставяна чрез

                        Забранено е копирането, предаването, разпространението и съхраняването на част или на цялото съдържание, публикувано на  без изричното писмено съгласие наПотребителите имат право да разглеждат и да отпечатват извадки от  за своя лична употреба. За целите на настоящите общи условия, „потребител” е всеки, който осъществява достъп чрез Интернет до Интернет страницата
                        на промените в уеб-страницата. Съответно, ако продължите да използвате или да имате достъп до тази уеб-страница ще считаме, че сте посочили вашето съгласие с променените Условия.

                        има право да прекъсне достъпа до уеб-страницата поради работи свързани с поддръжка, съображения за сигурност на мрежата или форсмажорни обстоятелства, без задължение да ви обезщетят или компенсират за периода, през който нямате достъп.

                        Услуга може да бъде закупена чрез само след като бъдат приети следващите условия за поръчката. В случай, че не сте съгласни да се задължите според Условията, не пристъпвайте към закупуване.

                        Процесът на поръчка и регистриране на нов профил не отнема повече от 5 минути. Ако не желаете да регистрирате профил в нашия сайт, можете да извършите поръчката си като „Гост на сайта“, като предоставите необходимата информация – име и електрона поща за обратна връзка, както и адрес, телефон и име на получателя, ако е различно от Вас лице.  Който и начин да изберете, ще имате достъп до статуса на поръчката си и ще получавате своевременна информация за промените в него на e-mail адреса, който сте предоставили
                    </p>

                   

                </div>
            </div>
        </div>
    </div>
</div>
    </div>

