@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

    <div class="container">
        <form action="@Url.Action("Contacts", "Home")" method="post">

            <h3>Форма за контакт</h3>
            <label for="fname">Име</label>
            <input type="text" id="fname" name="firstname" placeholder="Вашето име">

            <label for="lname">Фамилия</label>
            <input type="text" id="lname" name="lastname" placeholder="Вашата фамилия">

            <label for="lname">E-mail</label>
            <input type="text" id="email" name="email" placeholder="Вашият e-mail">

            <label for="subject">Съобщение</label>
            <textarea id="subject" name="subject" placeholder="Напишете нещо.." style="height:200px"></textarea>

            <input type="submit" value="Продължи">
        </form>

        @if (Model.ReviewSent == true)
        {
            <h3>@Model.FirstName @Model.LastName, Вашето писмо беше успешно изпратено до нас! Можете да продължите да пазарувате</h3>

        }
        <h4>Изпратени отзиви досега: @Model.ReviewsWritten</h4>
    </div>