
@{
    ViewData["Title"] = "Contacts";
}

    <div class="container">
        <form action="action_page.php">

            <h3>Форма за контакт</h3>
            <label for="fname">Име</label>
            <input type="text" id="fname" name="firstname" placeholder="Вашето име">

            <label for="lname">Фамилия</label>
            <input type="text" id="lname" name="lastname" placeholder="Вашата фамилия">

            <label for="lname">E-mail</label>
            <input type="text" id="email" name="e-mail" placeholder="Вашият e-mail">

            <label for="subject">Съобщение</label>
            <textarea id="subject" name="subject" placeholder="Напишете нещо.." style="height:200px"></textarea>

            <input type="submit" value="Продължи">

        </form>
    </div>

