@{
    ViewData["Title"] = "Delivery";
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Доставка</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="regular-page-content-wrapper section-padding-80">
                <div class="regular-page-text">
                    <h4> Начин на доставяне</h4>
                    <p>

                        Работим с куриерска фирма Еконт като използва услугите й за доставяне на пратки в София и страната до офис на Еконт и до адрес на клиента.

                        За София поръчките, направени в работен ден се изпълняват обикновено на следващия работен ден. Поръчките, постъпили в Събота или Неделя се изпълняват в Понеделник.

                        За Страната поръчките се изпълняват в срок от 5 работни дни.Моля, обърнете внимание, че е възможно да има забавяне при изпълнението на Вашата поръчка в случай на голямо натоварване.

                        Таксата за опаковка е от 1 до 3 лева в зависимост от големината и броя растения. Имате право и да избирате специална опаковка от 3 до 10 лева за  по-добрата им защита . При установена разлика в сумата на поръчката, клиентът трябва да позвъни на посоченият от нас телефон, ПРЕДИ да приеме пратката!

                        Доставката по Еконт е според тарифите на куриерската фирма като при изготвяне на поръчка през сайта цената на доставка се калкулира автоматично на стъпка Начин на доставка и се обявява преди да изпратите поръчката си.

                        За град София има и вариант за доставяне на поръчаните от Вас цветя до Вашата врата на цена от 7 лева за доставка. По този начин имате възможност да прегледате цветята и при проблем да върнете част от тях на момента. При избор на този вариант служител на фирмата ще се свърже с Вас за уточняване на ден и час на доставката.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>