
@{
    ViewData["Title"] = "PrivacyPolicy";
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Общи условия</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="regular-page-content-wrapper section-padding-80">
                <div class="regular-page-text">
                    <h4> 1. ЗА УЕБ-СТРАНИЦАТА</h4>
                    <p>

                        1. Достъпът до уеб-страницата се контролира стриктно единствено и само от, която си запазва правото периодично да променя, замества, прекратява или премахва без предизвестие всяка информация или услуга, предоставяна чрез

                        Забранено е копирането, предаването, разпространението и съхраняването на част или на цялото съдържание, публикувано на  без изричното писмено съгласие наПотребителите имат право да разглеждат и да отпечатват извадки от  за своя лична употреба. За целите на настоящите общи условия, „потребител” е всеки, който осъществява достъп чрез Интернет до Интернет страницата
                        на промените в уеб-страницата. Съответно, ако продължите да използвате или да имате достъп до тази уеб-страница ще считаме, че сте посочили вашето съгласие с променените Условия.

                        има право да прекъсне достъпа до уеб-страницата поради работи свързани с поддръжка, съображения за сигурност на мрежата или форсмажорни обстоятелства, без задължение да ви обезщетят или компенсират за периода, през който нямате достъп.

                        Услуга може да бъде закупена чрез само след като бъдат приети следващите условия за поръчката. В случай, че не сте съгласни да се задължите според Условията, не пристъпвайте към закупуване.

                        Процесът на поръчка и регистриране на нов профил не отнема повече от 5 минути. Ако не желаете да регистрирате профил в нашия сайт, можете да извършите поръчката си като „Гост на сайта“, като предоставите необходимата информация – име и електрона поща за обратна връзка, както и адрес, телефон и име на получателя, ако е различно от Вас лице.  Който и начин да изберете, ще имате достъп до статуса на поръчката си и ще получавате своевременна информация за промените в него на e-mail адреса, който сте предоставили
                    </p>

                    <h4> 2. КАК ДА ЗАКУПИТЕ ПРОДУКТ?</h4>

                    <p>
                        2.1. Продуктите, представени в сайта, могат да се поръчат чрез куриер или да се закупят на място в оранжерията ни в гр. Пловдив. Посочените цени са с ДДС. Към цената на всеки продукт се добавя и цената за доставка с куриер.

                        2.2. Стремим се да представим всички растения възможно най-естествено, но дори и с внимателно прилагане на съвременните технологии, това не е напълно възможно, затова имайте предвид, че е възможно различие между получения от Вас продукт и снимката приложена в сайта. При изготвянето на букети, кошници и др. с рязан цвят се цели идентичност с мострите от снимките, но при различните партиди също е възможна лека разлика в цвета.

                        2.3. Може да се поръчва само продукт, който е наличен в нашия онлайн магазин. След извършване на поръчката, същият ще бъде доставен на избрания от Вас адрес. Конкретното описание на всеки продукт и съдържанието му можете да видите на страницата на продукта.

                        Ако желаете да направите малка промяна в композицията, трябва да се консултирате предварително с наш служител от отдел „Обслужване на клиенти“ на тел.: 0899 815 120

                        2.4. За да поръчате, изберете продукт и натиснете бутон „Купи“, след което кликнете върху бутон „Количка“ в горният десен ъгъл на екрана. След като сте добавили във Вашата виртуална кошницата всички избрани продукти, можете да завършите поръчката си като натиснете бутона „Продължи към разплащане“ във Вашата количка.

                        Когато се намирате на страница „Количка“ имате възможност по желание да изчислите колко ще струва доставката или директно да преминете към разплащане. За да преминете директно към разплащане, кликнете върху бутон „Продължи към разплащане“, след което системата ще Ви попита как искате да продължите – като гост без регистрация на сайта, да си направите нова регистрация по желание или пък ако вече имате такава – да влезете в нея.

                        След като изберете един от тези варианти и впишете имената и адреса си ще можете да попълните детайлите относно адреса за доставка.

                        2.5. Поради анонимността на поръчващия, ако желаете получателят при доставката да узнае от кого са получените цветя, е необходимо да закупите  картичка от нашия магазин и да изпратите на електронния ни адрес текст, който да бъде попълнен в нея от служителите ни.
                    </p>

                    <h4>3. ПЛАЩАНЕ</h4>

                    <p>
                        3.1. Заплащането става чрез банков превод по сметка.

                        Ако изберете опцията “Плащане чрез банков превод”, ще се появи банковата сметка, на която е необходимо да заплатите сумата на поръчката си. След потвърждение на плащането по сметка ще стартира и процеса по обработка и доставка на поръчката ви.

                        3.2. За да преминете напред е необходимо да поставите отметка върху бутон „Прочетох и съм съгласен със сроковете и условията“ и след това да кликнете в долната част на прозореца, където пише „Продължи“ и по този начин поръчката Ви ще бъде изпратена до нас.



                        3.3. Данните, които попълвате, се използват единствено и само с цел доставка на Вашата поръчка. Тези данни са нужни и за издаването на фактура, ако желаете такава. Коректното попълване на данни в процеса на поръчка е задължително и от него зависи нейната точна доставка.

                        3.4. След успешно заплащане на продуктите,  ще потвърди вашата покупка с изпращане на потвърждение чрез електронна поща. Всяка поръчка следва да бъде заплатена, преди нейната доставка.

                        3.5. Доставката не се предприема, преди да е получено плащането на сумата или доказателство за извършеното плащане.
                    </p>

                    <h4> 4. УСЛОВИЯ ЗА ДОСТАВКА.</h4>

                    <p>
                        4.1. Доставките за цялата страна се извършват чрез куриерска фирма Еконт на съответната дата, за която е заявена поръчката.

                        4.2. Поръчки за страната се изпълняват в работното време на куриерската служба. Куриерът се ангажира с доставка на всяка куриерска пратка в сроковете, обявени в актуалната Тарифа, в случай, че посочените от Подателя данни в товарителницата име, адрес и телефон на Получателя са пълни и верни. Сроковете на доставка са:

                        - за селища с офис на Еконт - един работен ден;

                        - за селища без офис на Еконт - съгласно график за обслужване или до 3 дни, ако селището не е включено в график.

                        Желателно е поръчката да бъде направена поне 2 дни, преди желаната дата за доставка, за да можем да изготвим поръчката своевременно и да гарантираме добрия вид на доставения продукт.

                        4.3. Поръчки в рамките на град Пловдив ще бъдат изпълнявани всеки ден. За доставка в почивни дни, празници или при желание за точен час е необходимо да направите предварителна справка по телефон и да получите потвърждение от служител на http://localhost:56503

                        4.4. Цената на доставката зависи от сроковете за изпълнение на поръчката съобразно Тарифата на Еконт, като се начислява и е видима преди приключването на поръчката.

                        Тарифа на Еконт : http://www.econt.com/tariff-parcel/

                        4.5. Всеки закупен продукт от електронния магазин е застрахован за нанесени щети при транспортиране.

                        4.6. В случай, че получателят отсъства от адреса за доставка, не отговаря на оставения при поръчката телефон или телефонът е грешен, то поръчката се депозира до поискване в офис на Еконт.

                        4.7. Ако продуктът бъде върнат в магазина ни и желаете да Ви бъде изпратен отново, ще се наложи да заплатите за повторна доставка. Последната уговорка не важи за букети, аранжировки на кошници и др. рязан цвят, като в този случай продуктът и доставката се заплащат отново в пълен размер.
                    </p>

                    <h4>5. ВЪЗРАСТ И ОТГОВОРНОСТ</h4>

                    <p>
                        5.1.С изпращане на поръчката до нашия електронен магазин и заплащането й Вие гарантирате, че сте на възраст над 18 години и имате право да използвате сайта и да сключите законно обвързващ договор.

                        5.2. Гарантирате, че цялата предоставена от Вас лична информация по време на поръчката е вярна и че приемате финансовата отговорност за всички сделки извършени с вашето име или с вашата сметка.

                        5.3. Ние не носим отговорност ако:

                        - поръчката е отказана от получателя;

                        - на указания адрес няма никой, който да приеме пратката и при опит за установяване на контакт с получателя, лицето да не отговаря или телефонът да е грешен;

                        - ако сте въвели грешни дата или други данни за доставката.
                    </p>

                    <h4> 6. ПРОМЯНА ИЛИ ОТКАЗ ОТ ПОРЪЧКАТА </h4>

                    <p>
                        6.1. Вие можете да промените или да се откажете от поръчката до 24 часа преди датата на доставка. Промени, водещи до нарастване на цената, се начисляват и стават незабавно дължими.

                        6.2. Правото на отказ не важи за букети, аранжировки, кошници и др. с рязан цвят.

                        6.3. Отказът от поръчка трябва да бъде направен по телефона.

                        6.4. Отказът от поръчка влиза в сила след получаване от наша страна на уведомлението и безусловното му потвърждаване, а не в момента на неговото изпращане.

                        6.5. Възстановяване на платената сума по поръчката ще бъде извършвано само по банков път с превод на дължимата сума по сметка на поръчващия в срок до 30 дни от датата на потвърждението по т.6.3.
                    </p>

                    <h4>  7. РЕКЛАМАЦИИ </h4>

                    <p>
                        Рекламации се приемат при получаването на поръчката в следните случаи:
                        - Доставените продукти не съответстват на заявените и потвърдени в он-лайн поръчката;
                        - Стоката е повредена при транспорта;
                        - При неспазен срок на доставката.

                        7.1. В случай, че не сте доволни от вида на получения продукт, можете да предявите претенции за частична компенсация или пълно възстановяване на сумата по поръчката в срок до 36 часа, след нейната доставка. Това може да стане като изпратите уведомително писмо на e-mail:  sale.myflower@gmail.com  Към писмото е необходимо да прикачите файл с протокола от доставката и снимка на продукта към момента на доставката. Ако такава липсва, ще бъде изискана от наш служител за преценка на състоянието.

                        7.2. След проверка, нашият екип ще се свърже обратно с Вас. При основателност на претенцията, сумата ще Ви бъде възстановена или ако предпочитате ще Ви бъде изпратен нов продукт в рамките на 24ч. след постигане на договорка.

                        7.3. Право на рекламация има само платецът на поръчката, а сумата се възстановява според начина на плащането й. Например, ако сте заплатили поръчката си с кредитна карта, сумата ще бъде преведена отново на същата кредитна карта.

                        7.4. При удовлетворяване на рекламацията, ще бъде издаден документ, който се заверява двустранно  и екземпляр от него се предоставя на клиента.
                    </p>

                    <h4>8. ОТГОВОРНОСТ ЗА ДРУГИ ВРЕДИ </h4>

                    <p>myflower.bg не носи отговорност при форсмажорни обстоятелства, дължащи се на непреодолима сила - непредвидими или непрогнозируеми събития или фактори, независещи от волята или действията на едно или повече лица и неподлежащи на предотвратяване като: природни бедствия, глобални или локални аварии, в т.ч. пожари, епидемии, правителствени забрани, граждански вълнения, стачки, бунтове и всякакъв вид безредици, терористични или военни действия и др. подобни, в резултат на които е нарушен нормалния обществен ритъм на живот, респективно възможността за безпрепятствено изпълнение на поети ангажименти между две или повече страни по сключения договор.</p>

                    <h4>9. ПОВЕРИТЕЛНОСТ </h4>

                    <p>
                        9.1. Данните, които попълвате в процеса на поръчка или при създаването на профила си се използват единствено, за да извършим коректно Вашата доставка. Тези данни не се предоставят на трети страни, нито ще бъдат използвани по начин нарушаващ Закона за защита на личните данни.

                        9.2. Данните на Вашата кредитна/ дебитна карта не се попълват нито биват съхранявани на нашия уебсайт. Тяхната сигурност се гарантира от платежната система, която избирате в процеса на поръчка.

                        *ДЕКЛАРАЦИЯ: Настоящата уеб-страница е собственост и се управлява от  "ЕЛИА 2019" ЕООД , ЕИК 205579650, адрес:гр. Пловдив, ул. Хъшовска 5. Дружеството съблюдава високи етични стандарти и осигурява пълна конфиденциалност и защита на Вашата лична информация. Гарантираме Ви, че сме направили всичко възможно да запазим личните данни на потребителите си и че никаква лична информация за клиента и поръчките му няма да бъдат предоставяни на трети лица, както и че е направено всичко възможно за запазване на поверителността на личните данни от злоумишлени действия.

                        Всички данни, предоставени за нас ще бъдат обработвани конфиденциално, в съответствие с Националната европейското законодателство, свързани с въпросите на неприкосновеността на личния живот и лични данни и в пълно съответствие със Закона за защита на личните данни.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
    </div>

