@section cssStyles {

    <link href="~/css/bracket.min.css" rel="stylesheet" />
}



@{
    ViewData["Title"] = "All";
}

<h1>
    All Girls 
</h1>



@section Scripts {


    <script src="~/js/bracket.js"></script>
}