@section cssStyles {

    <link href="~/css/bracket.min.css" rel="stylesheet" />
}






@*@{
    ViewData["Title"] = "GetbyID";
}*@



<h1>GetbyID</h1>





@section Scripts {


    <script src="~/js/bracket.js"></script>
}

